div.col-md-9 h1:first-of-type {
    text-align: center;
}

div.col-md-9 h1:first-of-type + p {
    text-align: center;
}

div.admonition.block>.admonition-title {
    display: none;
}

.admonition.new, details.new {
    color: var(--bs-success-text-emphasis);
    background-color: var(--bs-success-bg-subtle);
    border-color: var(--bs-success-border-subtle);
}

div.col-md-9 img {
    display: block;
    margin: 0 auto;
}

/* Homepage */

body.homepage>div.container>div.row>div.col-md-3 {
    display: none;
}

body.homepage>div.container>div.row>div.col-md-9 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
}